.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background: transparent;
  & h5 {
    color: $white;
    font-family: $secondary-font;
    font-size: xx-large;
    margin: 0;
  }

  &__messages {
    width: 100%;
    max-height: 200px;
    min-height: 100px;
    padding: 0.40rem;

    overflow: scroll;
    & p {
      margin: 0;
      font-family: $source-pro;
      color: white;
      & span {
        font-size: large;
        margin-top: 0.4rem;
        & i {
        opacity: 0.7;
        }
      }

    }
  }

  &__input {
    display: flex;
    & input {
      outline: none;
      padding: 4px;
      font-family: $source-pro;
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      margin: 4px;
      flex: 2;
      color: white;
      border-bottom: solid 1px white;
    }
    & button {
      @include button;
      @include flex-center;
      width: 46px;
      height: 46px;
      margin: 4px;
      background-color: transparent;
    }
  }
}
