.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  & h5 {
    color: $white;
    font-family: $secondary-font;
    font-size: xx-large;
    margin: 0;
  }

  &__messages {
    width: 100%;
    max-height: 200px;
    min-height: 100px;

    overflow: scroll;
    & p {
      margin: 0;
      font-family: $source-pro;
      color: white;
    }
  }

  &__input {
    display: flex;
    & input {
      outline: none;
      padding: 1px 4px;
      font-family: $source-pro;
      background-color: rgba(255, 255, 255, 0.1);
      border: solid 1px white;
      margin: 4px;
      flex: 2;
      color: white;
    }
    & button {
      @include button;
      width: auto;
      margin: 4px;
      background-color: transparent;
    }
  }
}
